@import "tailwindcss";

@theme {
  --color-molten-lava: #780000ff;
  --color-brick-red: #c1121fff;
  --color-papaya-whip: #fdf0d5ff;
  --color-deep-space-blue: #003049ff;
  --color-steel-blue: #669bbcff;
}